<ion-view>
  <ion-content class="tab-feed-content">
    <div class="button-bar">
      <a href="#/tab/feed" class="button button-dark">Add Feed Data</a>
      <a href="#/tab/feed/history" class="button button-light button-clear">Feeding History</a>
    </div>
    <div class="card ">
        <div class="list">
            <label class="item item-input">Pick a date&nbsp;
                <input type="text" placeholder="All data" class="padding-left">
            </label>
        </div>
    </div>

    <ul class="list padding">
        <div class="item item-divider item-stable">Today</div>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
    </ul>
    <ul class="list padding">
        <div class="item item-divider item-stable">Yesterday</div>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
    </ul>
    <ul class="list padding">
        <div class="item item-divider item-stable">Jan 3rd,  2016</div>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
    </ul>
    <ul class="list padding">
        <div class="item item-divider item-stable">Jan 4th,  2016</div>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
        <li class="item">Abcdefg Highlkm</li>
    </ul>
  </ion-content>
</ion-view>
