<ion-view >
  <ion-content class="tab-account-content">
    <div class="button-bar">
      <a href="#/tab/account" class="button button-light button-clear">Account Info</a>
      <a class="button button-dark"></a>
    </div>

    <ul class="list card">
      <li class="item item-icon-left">
        <i class="icon ion-person"></i>
        <h2>User name</h2>
        <p>Barak Obama</p>
      </li>

      <li class="item item-icon-left">
        <i class="icon ion-email"></i>
        <h2>Email</h2>
        <p>test@example.com</p>
      </li>
    </ul>

    <ul class="list card">
      <li class="item item-icon-left">
        <i class="icon ion-happy"></i>
        <h2>Baby Name</h2>
        <p>Barak Obama</p>
      </li>

      <li class="item item-icon-left">
        <i class="icon ion-calendar"></i>
        <h2>Baby Date of Birth</h2>
        <p>01/01/2001</p>
      </li>
    </ul>

    <div class="padding-left padding-right">
        <button class="button button-block button-balanced">
          Edit
        </button>
      </div>

      <div class="padding">
        <button class="button button-block button-assertive"
                ng-cloak 
                ng-show = "user.logged"
                ng-click="logout()">
          Logout
        </button>
    </div>
  </ion-content>
</ion-view>
