<ion-view >
  <ion-content class="tab-account-content">
    <div class="button-bar">
        <a href="#/tab/babies" class="button button-dark">Baby Info</a>
        <a href="#/tab/account" class="button button-light button-clear">Account Info</a>
    </div>

    <ul class="list card">
      <li class="item item-icon-left">
        <i class="icon ion-person"></i>
        <h2>User name</h2>
        <p>{{user.name}}</p>
      </li>

      <li class="item item-icon-left">
        <i class="icon ion-email"></i>
        <h2>Email</h2>
        <p>{{user.email}}</p>
      </li>
    </ul>

    <div class="padding-left padding-right">
        <button class="button button-block button-balanced">
          Edit
        </button>
      </div>

      <div class="padding-left padding-right">
        <button class="button button-block button-assertive"
                ng-cloak 
                ng-show = "user.logged"
                ng-click="logout()">
          Logout
        </button>
    </div>
  </ion-content>
</ion-view>
