<ion-view >
  <ion-content class="tab-dash-content-pre" ng-show="isLoggedIn">
    <div class="card">
        <div class="item item-text-wrap">
            Welcome to <b>Baby Tracker</b>. Your app to keep track the life and growth of your little angel.
        </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
      <label class="item item-input padding">
        <button class="button button-block button-balanced">
        Sign in
      </button>
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-assertive">
        Sign in with Google
      </button>
      <button class="button button-block button-positive">
        Sign in with Facebook
      </button>
    </div>
  </ion-content>
  <ion-content class="tab-dash-content-post" ng-show="!isLoggedIn">
    <div class="list list-inset">
      <div class="item item-divider">
        Recent Activities
      </div>
      <li class="item item-icon-left">
        <i class="icon ion-email"></i>
        Check mail
      </li>

      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-chatbubble-working"></i>
        Call Ma
        <i class="icon ion-ios-telephone-outline"></i>
      </li>

      <li class="item item-icon-left">
        <i class="icon ion-mic-a"></i>
        Record album
        <span class="item-note">
          Grammy
        </span>
      </li>

      <li class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-assertive">0</span>
      </li>

      <li class="item item-icon-left">
        <i class="icon ion-beaker"></i>
        Breaking Bad
        <span class="item-note">
          Blue, yellow, pink
        </span>
      </li>

      <li class="item item-icon-left">
        <i class="icon ion-music-note"></i>
        Music
        <span class="item-note">
          JT
        </span>
      </li>

      <li class="item item-icon-left">
        <i class="icon ion-ios-game-controller-b"></i>
        Games
        <span class="item-note">
          Super Mario
        </span>
      </li>

      <li class="item item-icon-left item-icon-right">
        <i class="icon ion-bag"></i>
        Shopping
        <i class="icon ion-arrow-right-c"></i>
      </li>

    </div>
  </ion-content>
</ion-view>
