<ion-view >
    <ion-content class="tab-feed-content">
        <div class="button-bar">
            <a href="#/tab/feed" class="button button-light button-clear">Add Feed Data</a>
            <a href="#/tab/feed/history" class="button button-dark">Feeding History</a>
        </div>

        <div class="card">
            <form id="input-form" name="inputForm" ng-submit="validateData(inputForm)" novalidate>
                <div class="list">
                    <label class="item item-input">Type&nbsp;
                        <select 
                            class="padding-left"            
                            name="feedType"
                            ng-model="feed.type"
                            ng-class="{error: (inputForm.feedType.$invalid && inputForm.feedType.$dirty)
                                            || (inputForm.feedType.$invalid && inputFormSubmitted)}"
                            required >
                            <option value="liquid">Liquid</option>
                            <option value="solid">Solid</option>
                        </select>
                    </label>
                    <label class="item item-input">Quantity&nbsp;
                        <select 
                            name="feedAmount"
                            ng-model="feed.amount"
                            ng-class= "{error: (inputForm.feedAmount.$invalid && inputForm.feedAmount.$dirty)
                                            || (inputForm.feedAmount.$invalid && inputFormSubmitted)}"
                            required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <select 
                            name="feedUnit"
                            ng-model = "feed.unit"
                            ng-class= "{error: (inputForm.feedUnit.$invalid && inputForm.feedUnit.$dirty)
                                            || (inputForm.feedUnit.$invalid && inputFormSubmitted)}" 
                            required >
                            <option value="oz">Oz</option>
                            <option value="tbs">Tablespoon</option>
                            <option value="ts">Teaspoon</option>
                        </select>
                    </label>
                    <label class="item item-input">When&nbsp;
                        <input name="feedDatetime"
                               ng-model=feed.datetime 
                               value ="feed.datetime | date: 'yyyy-MM-ddTHH:mm'"
                               type="datetime-local" placeholder="yyyy-MM-ddTHH:mm" required>
                    </label>
                    <label class="item item-input">Note&nbsp;
                        <textarea 
                            placeholder="Note" 
                            row="2" 
                            ng-model="feed.note">
                        </textarea>
                    </label>
                    <label class="item item-input">
                        <button class="button button-small button-stable ion-plus-round padding-left padding-right"> Log It</button>
                    </label>
                </div>
            </form>
        </div>
 
        <ul class="list padding">
            <div class="item item-divider item-stable">Today Data</div>
            <li class="item item-icon-left" ng-repeat="item in feedingLogToday">
                <i class="icon ion-chatbubble-working"></i>
                {{item.type}} @ {{item.datetime | date: 'h:mma'}}
                <span class="badge badge-assertive">{{item.amount}} {{item.unit}}</span> 
                <p>{{item.note}}</p>
            </li>
            
            <li class="item">Aliquam tincidunt mauris eu risus.</li>
            <li class="item">Vestibulum auctor dapibus neque.</li>
        </ul>
    </ion-content>
</ion-view>
