<ion-view >
  <ion-content class="tab-feed-content">
    <div class="button-bar">
      <a href="#/tab/feed" class="button button-light button-clear">Add Feed Data</a>
      <a href="#/tab/feed/history" class="button button-dark">Feeding History</a>
    </div>
    <div class="card">
        <div class="list">
            <label class="item item-input">What&nbsp;
                <input type="text" placeholder="Milk" class="padding-left">
            </label>
            <label class="item item-input">Quantity&nbsp;
                <input type="text" placeholder="5">
                <input type="text" placeholder="Oz">
            </label>
            <label class="item item-input">When&nbsp;
                <input type="datetime" placeholder="What">
            </label>
            <label class="item item-input">Note&nbsp;
                <textarea placeholder="Comments" rows="2"></textarea>
            </label>
            <label class="item item-input">
                <button class="button button-small button-stable ion-plus-round padding-left padding-right"> Log It</button>
            </label>
        </div>
    </div>

    <ul class="list padding">
        <div class="item item-divider item-stable">Today Data</div>
        <li class="item item-icon-left">
            <i class="icon ion-chatbubble-working"></i>
            Milk @ 3.15 pm
            <span class="badge badge-assertive">5 oz</span> 
            <p>Some note for me to remember.</p>
        </li>
        <li class="item item-icon-left">
            <i class="icon ion-chatbubble-working"></i>
            Milk @ 3.15 pm
            <span class="badge badge-assertive">5 oz</span> 
            <p>Some note for me to remember. Some note for me to remember. Some note for me to remember. Some note for me to remember.</p>
        </li>
        <li class="item item-icon-left">
            <i class="icon ion-chatbubble-working"></i>
            Milk @ 3.15 pm
            <span class="badge badge-assertive">5 oz</span> 
            <p>Some note for me to remember.</p>
        </li>
	    <li class="item">Aliquam tincidunt mauris eu risus.</li>
	    <li class="item">Vestibulum auctor dapibus neque.</li>
    </ul>
  </ion-content>
</ion-view>
