<ion-view >
  <ion-content class="tab-sleep-content">
    <div class="button-bar">
      <a href="#/tab/sleep" class="button button-light button-clear">Add Sleep Data</a>
      <a href="#/tab/sleep/history" class="button button-dark">Sleeping History</a>
    </div>
    <div class="card">
        <div class="list">
            <label class="item item-input">What&nbsp;
                <input type="text" placeholder="Milk" class="padding-left">
            </label>
            <label class="item item-input">Quantity&nbsp;
                <input type="text" placeholder="5">
                <input type="text" placeholder="Oz">
            </label>
            <label class="item item-input">When&nbsp;
                <input type="datetime" placeholder="What">
            </label>
            <label class="item item-input">Note&nbsp;
                <input type="text" placeholder="Poop" class="padding-left">
            </label>
            <label class="item item-input">
                <button class="button button-small button-stable ion-plus-round padding-left padding-right"> Log It</button>
            </label>
        </div>
    </div>

    <ul class="list padding">
        <div class="item item-divider item-stable">Today Data</div>
        <li class="item">Lorem ipsum dolor sit amet</li>
        <li class="item">Consectetuer adipiscing elit.</li>
        <li class="item">Aliquam tincidunt mauris eu risus.</li>
        <li class="item">Vestibulum auctor dapibus neque.</li>
    </ul>
  </ion-content>
</ion-view>
