<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash" class="tab-item-custom tab-dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Feed -->
  <ion-tab title="Feed" icon-off="ion-waterdrop" icon-on="ion-waterdrop" href="#/tab/feed" class="tab-item-custom tab-feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Change Tab -->
  <ion-tab title="Change" icon-off="ion-tshirt" icon-on="ion-tshirt" href="#/tab/change" class="tab-item-custom tab-change">
    <ion-nav-view name="tab-change"></ion-nav-view>
  </ion-tab>

  <!-- Sleep Tab -->
  <ion-tab title="Sleep" icon-off="ion-clock" icon-on="ion-clock" href="#/tab/sleep" class="tab-item-custom tab-sleep">
    <ion-nav-view name="tab-sleep"></ion-nav-view>
  </ion-tab>

  <!-- Growth Tab -->
  <ion-tab title="Growth" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/growth" class="tab-item-custom tab-growth">
    <ion-nav-view name="tab-growth"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/babies" class="tab-item-custom tab-account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
